.container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.flex {
  width: 100%;
  height: 100%;
}

.layout {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.header {
  text-align: center;
  color: #fff;
  height: 84px;
  padding-inline: 48px;
  line-height: 64px;
  background-color: #4096ff;
}

.title {
  font-size: 42px;
  letter-spacing: 20px;
  padding-top: 10px;
}

.subLayout {
  flex: 1;
}

.sider {
  background-color: #1677ff;
}

.menu {
  height: 100%;
  border-right: 0;
  color: #fff;
}

.content {
  text-align: center;
  min-height: calc(100vh - 64px);
  padding: 24px;
  line-height: 120px;
  color: #fff;
}